@import "antd/dist/reset.css";

:root {
  --primary-color: #e50914; /* Netflix Red-ish */
  --bg-color: #141414;
  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
